@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    user-select: none;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ecf0f1;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-rows: 50vh 50vh;
    justify-content: center;
}
.main > .header {
    align-self: flex-end;
    text-align: center;
    margin-bottom: 20px;
}
.main > .header > span {
    font-size: 4.5em;
    color: #1e272e;
}

.main > .header > span > span:nth-child(1), .main > .header > span > span:nth-child(3) {
    color: #2ecc71;
}

@keyframes virus {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }
    10% {
        transform: translateX(-50px) rotate(30deg) scale(1.3);
    }
    20% {
        transform: translateY(-75px)rotate(90deg) scale(1);
    }
    30% {
        transform: translateX(10px) rotate(-10deg) scale(0.9);
    }
    40% {
        transform: translateY(20px) rotate(90deg) scale(1.3);
    }
    50% {
        transform: translateX(55px) rotate(180deg) scale(0.9);
    }
    60% {
        transform: translateY(-10px) rotate(100deg) scale(1);
    }
    70% {
        transform: translateX(70px) rotate(20deg) scale(1.2);
    }
    80% {
        transform: translateX(40px) rotate(-40deg) scale(0.9);
    }
    90% {
        transform: translateY(-20px) rotate(-40deg) scale(1.2);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}

.main > .header > span > span:nth-child(3) {
    display: inline-block;
    cursor: pointer;
}
.main > .content {
    align-self: start;
    margin-top: 15px;
}

.main > .content > .form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 25px;
}

.main > .content > .form > select {
    font-size: 1.8em;
    background: #ecf0f1;
    text-align: center;
    color: #1e272e;
    border-bottom: 2px solid #2ecc71;
    cursor: pointer;
}

.main > .content > .form > select > option {
    background: #2ecc71;
    color: #ecf0f1;
}

.main > .content > .form > select:nth-child(1) {
    min-width: 100px;
}

.main > .content > .form > select:nth-child(2) {
    min-width: 550px;
}

.main > .content > .form > select:nth-child(2):disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.main > .content > .form > button {
    transition: 0.05s linear;
    color: #ecf0f1;
    background: #2ecc71;
    width: 10vw;
    font-size: 1.3em;
    border-radius: 3px;
    cursor: pointer;
}

.main > .content > .form > button:hover {
    transform: scale(1.02);
    background: #27ae60;
}

.main > .content > .form > button:active {
    transform: scale(0.99);
}

/* DARK MODE */

.dark {
    position: absolute;
    top: 39px;
    right: 55px;
}

.dark > label {
    font-size: 1.5em;
    color: #1e272e;
    cursor: pointer;
}

#dark {
    display: none;
}

#dark:checked ~ .dark > label {
    color: #ecf0f1;
}

#dark:checked ~ .main {
    background: #1e272e;
}

#dark:checked ~ .main .b {
    color: #ecf0f1;
}

#dark:checked ~ .main select {
    background: #1e272e;
    color: #ecf0f1;
}

#dark:checked ~ .footer {
    color: #ecf0f1;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #1e272e;
}

/* VIRUS */

.virus {
    position: absolute;
    display: inline-block;
    color: #2ecc71;
    font-size: 0.5em;
}

/* LOADING */

@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

#loading {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #1e272edc;
}

#loading > .bar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
}

#loading > .bar > .bar-item {
    height: 100%;
    width: 15px;
    background: #2ecc71;
    margin-right: 10px;
    animation: loading 1.5s infinite;
    animation-delay: 0;
}

#loading > .bar > .bar-item:nth-child(2) {
    animation-delay: 0.1s;
}

#loading > .bar > .bar-item:nth-child(3) {
    animation-delay: 0.2s;
}

#loading > .bar > .bar-item:nth-child(4) {
    animation-delay: 0.3s;
}

#loading > .bar > .bar-item:nth-child(5) {
    animation-delay: 0.4s;
}

#loading > .bar > .bar-item:nth-child(6) {
    animation-delay: 0.5s;
}

#loading > .bar > .bar-item:nth-child(7) {
    animation-delay: 0.6s;
}

#loading > .bar > .bar-item:nth-child(8) {
    animation-delay: 0.7s;
    margin-right: 0;
}

@media only screen and (max-width: 813px) {
    .main {
        grid-template-rows: 40vh 60vh;
    }
    .main > .content > .form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .main > .header > span {
        font-size: 3em;
    }

    .main > .content > .form > select {
        font-size: 1em;
    }

    .main > .content > .form > select:nth-child(1) {
        min-width: 0;
        width: auto;
    }

    .main > .content > .form > select:nth-child(2) {
        min-width: 0;
        width: auto;
    }

    .main > .content > .form > button {
        width: auto;
        padding: 10px 0;
    }

    .footer {
        width: 100%;
        text-align: center;
    }
}